<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="u6u3h2g4" userName="gpamsecurity" />
    </system.web>
    <location path="" overrideMode="Inherit">
        <system.webServer>
            <urlCompression doDynamicCompression="false" />
            <handlers>
                <add name="PHP-FastCGI7.2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.2\php-cgi_8.exe" resourceType="File" />
            </handlers>
            <defaultDocument enabled="true">
                <files>
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="index.php" />
                    <add value="index.asp" />
                    <add value="default.asp" />
                    <add value="index.aspx" />
                    <add value="default.aspx" />
                </files>
            </defaultDocument>
            <rewrite>
                <rules>
                    <rule name="Rewrite rule1 for laravel_rewrite">
                        <match url=".*" />
                        <conditions>
                            <add input="{laravel_rewrite:{HTTP_HOST}}" pattern="(.+)" />
                        </conditions>
                        <action type="Rewrite" url="{C:1}{REQUEST_URI}" appendQueryString="false" />
                    </rule>
                    <rule name="Rule 2" stopProcessing="true">
                        <match url="^" ignoreCase="false" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="/public/index.php" />
                    </rule>
                </rules>
                <rewriteMaps>
                    <rewriteMap name="laravel_rewrite">
                        <add key="website.com" value="/public" />
                    </rewriteMap>
                </rewriteMaps>
            </rewrite>
        </system.webServer>
    </location>
</configuration>
